# NOTEBOOK IGNORE
notebooks/bin/
notebooks/lib/
notebooks/include/
notebooks/share/
notebooks/pyvenv.cfg

notebooks/__pycache__/
notebooks/*.pyc

# FRONTEND IGNORE
frontend/node_modules/
frontend/.env