# Virtual Environment
bin/
lib/
include/
share/
pyvenv.cfg

# Python Cache
__pycache__/
*.pyc

# dataset/  <-- Buka comment ini jika tidak ingin mengupload dataset

# Visualization Results
*.png

# OS Specific
.DS_Store
